*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: aliceblue;
    position: relative;
    overflow: hidden;
}
.top-left{
    position: absolute;
    left:2%;
    top:3%;
}
.top-right{
    position: absolute;
    right:3%;
    top:3%;
}
.bottom-left{
    position: absolute;
    bottom:3%;
    left:3%;
}
.bottom-right{
    position: absolute;
    bottom: 3%;
    right:3%;
}

.blue-ball{
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background-color: blue;
    border-radius: 50%;
    box-shadow:  -25px -25px 40px rgba(0, 0, 0, .7 )inset;
}

.red-ball{
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    box-shadow:  -25px -25px 40px rgba(0, 0, 0, .7 )inset;
}

.gold-ball{
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: gold;
    border-radius: 50%;
    box-shadow:  -25px -25px 40px rgba(0, 0, 0, .7 )inset;
}

.green-ball{
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    box-shadow:  -25px -25px 40px rgba(0, 0, 0, .7 )inset;
}


/*THE BUTTON REGION */
.type{
    
    background-color: blueviolet;
    width: 100px;
    padding: 13px 26px;
    border-radius: 50px 20px;
   
    border: none;
}
.type2{
    
    background-color: rgb(236, 80, 18);
     
    width: 100px;
    padding: 13px 26px;
    border-radius: 50px 20px;
    margin-top: 10px;
    border: none;
}


.type1{
  
    background-color: darkgoldenrod;
    margin-top: 10px;
    width: 100px;
    padding:14px 28px;
    border-radius: 50px 20px;
    
    border: none;

}

.type3{
  
    background-color: greenyellow;
    
    width: 100px;
    padding: 13px 26px;
    border-radius: 50px 20px;
    margin-top: 10px;
    border: none;
}

/* THE HOVER REGION */
.btn1:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.btn2:hover{
    background-color: darkslategrey;
    cursor: pointer;
}

.btn3:hover{
    background-color:hotpink;
    cursor: pointer;
}

.btn4:hover{
    background-color: darkolivegreen;
    cursor: pointer;
}
